{% extends 'main/father.html'%}

{% block title %}
    Mi Perfil
{% endblock title %}

{% block body %}
<h2>Mi Perfil</h2>
<p>Nombre de usuario: {{ user.username }} | Email: {{ user.email }}
    <div>
    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="Avatar">
    {% else %}
        <p>No avatar set</p>
    {% endif %}
    </div>
</p>
<a href="{% url 'acc:editarperfil' %}">
    <button class="btn btn-primary">
        Editar perfil
    </button>
</a> 
<a href="{% url 'acc:logout' %}">
    <button class="btn btn-primary">
        Cerrar sesíon
    </button>
</a>    
    
{% endblock %}