{% extends 'main/father.html'%}

{% block title %}
    Mi Perfil
{% endblock title %}

{% block body %}
<h2>Mi Perfil</h2>
<p>
    Nombre de usuario: {{ usuario.username}} email: {{ usuario.email }}
    <img src="{{ usuario.profile.avatar.url }}" alt="{{ usuario.username }}'s avatar" />
</p>
<a href="{% url 'acc:upload_avatar' %}">
    <button class="btn btn-primary">
        Cambiar avatar
    </button>
</a> 
<a href="{% url 'acc:logout' %}">
    <button class="btn btn-primary">
        Cerrar sesíon
    </button>
</a>    
    
{% endblock %}